# PinIT Career OS Environment Template
# Copy or rename this file to .env or .env.local

# Supabase Credentials (Database & Auth)
NEXT_PUBLIC_SUPABASE_URL=https://wjheumrorddbkvoczuuw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqaGV1bXJvcmRkYmt2b2N6dXV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3ODUzNTMsImV4cCI6MjA5NDM2MTM1M30.ObgixHV4n4bnbPu4A4Z_74ifG9ESQuV6nwWV_SiFnF0

# Firebase Hosting & Project Credentials
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAAGIDuotomgFRubW9-agZjcVsCprGQ1LU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=pinit-de424.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=pinit-de424
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=pinit-de424.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=488049934726
NEXT_PUBLIC_FIREBASE_APP_ID=1:488049934726:web:7164e7bb01978f0df2ec07

# AI Inference Keys (Groq / OpenRouter)
GROQ_API_KEY=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
NEXT_PUBLIC_GROQ_API_KEY=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
OPENROUTER_API_KEY=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
NEXT_PUBLIC_OPENROUTER_API_KEY=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

# Audio & Voice Microservices
NEXT_PUBLIC_TTS_API_URL=https://pinit-voice-service.onrender.com/api/v1/tts
NEXT_PUBLIC_BACKEND_URL=https://pinit-backend-v8pd.onrender.com
NEXT_PUBLIC_FACE_API_URL=http://localhost:3001
